/* Wireframing */

*:not(body):not(html) {
  box-sizing:border-box;
  /*border:1px dashed grey;*/
}

.col, .header{
  min-height: 200px;
}

/* colors
Darkest Blue: #242d33;
Parchment: #fefcf7;

/* End Wireframing */

/*Nav*/

.nav {
  overflow: auto;
  padding: 1%;
  margin: 0 auto 140px auto;
  width: 100%;
  position: fixed;
  z-index: 20;
  font-family: Gill Sans / Gill Sans MT, sans-serif;
  text-transform: uppercase;
  background-color: #fffdfa;
  border-bottom: 1px solid #242d33;
}

.title {
  float: left;
  color: #666564;
}

.navlinks {
  float: right;
  margin: 0;
  padding: 0;
}

.navlinks a {
  color: #666564;
}

.navlinks li {
  float: left;
  margin: -1px 0 0 10px;
  list-style: none;
}

/* Body*/

body {
  font-family: sans-serif;
  color: #242d33;
  /*color: #584d45;*/
  background-color: #fffdfa;
  margin: 0;
}

h1 {
  margin: 45px 0 0 0;
  font-size: 3em;
  font-family: 'Vollkorn Regular', sans-serif;
  font-weight: normal;
}

h2 {
  font-family: Gill Sans / Gill Sans MT, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: .85em;
  letter-spacing: 1px;
}

h3 {
  font-family: Gill Sans / Gill Sans MT, sans-serif;
  text-transform: uppercase;
  margin: -4px 0 0 0;
  font-size: 1em;
  font-weight: normal;
}

.articles-main a {
  font-size: 1em;
  font-family: 'Vollkorn Regular', sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.articles-main p {
  margin-bottom: 25px;
  font-size: .9em;
  font-family: 'Vollkorn Regular', sans-serif;
  font-style: italic;
}

.portfolio-gallery a {
  color: #363636;
}

.container {
  width: 90%;
  margin: auto;
  padding: 0 2% 2% 2%;
  background-color: #fff;
}

.caps {
  text-transform: uppercase;
}

.small-text {
  font-size: .9em;
}

.center {
  text-align: center;
}

.responsive-img {
  width: 100%;
}

.hero-container {
  width: 100%;
  height: 720px;
  margin-bottom: 50px;
  margin-top: 0;
  background-color: #e5e3e1;
  z-index: -10;
}

.masthead {
  padding: 30px;
  text-align: center;
  margin: 100px auto;
  color: #fffdfa;
  position: fixed;
  width: 100%;
  z-index: 0;
}

.masthead h1 {
  font-size: 8.5em;
  line-height: 1em;
}

.masthead h2 {
  color: #242d33;
}

#main-logo {
  margin: 10px auto;
}

.see-work {
  margin: 50px 0;
  text-align: center;
}

.see-work a {
  text-decoration: none;
}

/*#front-page-portfolio {
  text-align: center;
  text-transform: uppercase;
  min-height: 20px;
}*/

/* Gallery */

.portfolio-container {
  background-color: #fffdfa;
  position: relative;
  z-index: 10;
}

.portfolio-gallery {
  margin-top: -50px;
  padding-top: 50px;
  font-family: Gill Sans / Gill Sans MT, sans-serif;
}

.portfolio-gallery::after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  width: 31.33%;
  margin: 0 1%;
}

.portfolio-item {
  width: 100%;
  margin-bottom: 75px;
  position: relative;
  background-color: #141414;
  opacity: .9;
  overflow: hide;
}

.portfolio-item:hover {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.portfolio-item img {
  width: 100%;
}

.item-label {
  position: absolute;
  bottom: -45px;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #242d33;
  border-top: 3px solid #fff;
  color: #fffdfa;
  opacity: 1;
  padding: 7px 5px 5px 10px;
}

.item-label h1, .item-info h1 {
  font-family: sans-serif;
  font-size: .9em;
  margin: 1px 0 5px 0;
  padding: 0;
}

.item-info h1 {
  text-transform: uppercase;
}

.item-info p {
  line-height: 1.3em;
  margin: 10px 0;
}

.item-label p {
  font-size: .8em;
  margin: 0;
}

.item-x-toggle {
  font-size: 1.3em;
  position: absolute;
  right: 7%;
  bottom: 15px;
  transition: all .25s ease-in-out;
}

.item-x-rotated {
  -webkit-transform: rotate(45deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(45deg);  /* Firefox 3.5-15 */
    -ms-transform: rotate(45deg);  /* IE 9 */
    -o-transform: rotate(45deg);  /* Opera 10.50-12.00 */
    transform: rotate(45deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}

.item-label a {
  color: #fff;
}

.item-info {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fffdfa;
  border: 2px solid #ededed;
  color: #363636;
  opacity: 1;
  padding: 5%;
}

/*.vert-item {
  max-height: 400px;
}

.horiz-item {
  max-height: 400px;
}*/

.horiz-item .item-info {
  padding: 2%;
}

#info-item06 .item-info a {
  margin-top: -3px;
}

#contact-page {
  display: none;
}

/* About Page Items */

.about-main {
  width: 60%;
}

/* Articles */

.article {
  width: 60%;
  margin: 0 auto;
}

.article h1 {
  font-size: 2em;
}

.article h2 {
  margin-bottom: 40px;
}

/* Media Queries */
/* media query for all screens that are smaller than laptops */
@media screen and (max-width: 976px) {
  .masthead h1 {
    font-size: 6em;
  }

  .portfolio-item {
    opacity: 1;
  }

  .about-main {
    width: 90%;
    margin: 0 auto;
  }

  .article {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 976px) and (min-width: 581px) {
  .item-info {
    font-size: .9em;
  }

  .col {
    width: 48%;
  }

  .col3 {
    width: 100%;
    float: none;
    overflow: visible;
  }

  .col3 .vert-item {
    float: right;
    width: 48%;
    margin: -1% 2% 0 0;
  }

  .col3 .horiz-item {
    float: left;
    width: 48%;
    margin: 0 0 0 0;
  }

  .stripe {
    width: 1000px;
    bottom: 40%;
    right: -40%;
  }

  #contact {
    margin-top: 30%;
  }
}

@media screen and (max-width:580px) {
  .masthead {
    width: 90%;
    text-align: center;
    overflow: hidden;
  }

  .masthead h1 {
    display: none;
  }

  .masthead::before {
    content: "JG";
    width: 60%;
    margin: 0 auto;
    display: table;
    font-size: 10em;
    font-family: 'Vollkorn Regular', sans-serif;
  }
  .col {
    float: none;
    width: 100%;
  }

  .title {
    display: none;
  }

  .nav {
    border: 0;
    background-color: rgba(255, 0, 0, 0);
    margin: 0 auto;
  }

  .navlinks {
    float: none;
    text-align: center;
  }

  .nav a {
    text-decoration: none;
    color: #b2b1af;
  }

  .navlinks li {
    float: none;
    margin: 2px 2px 8px 2px;
    font-size: 1.2em;
    line-height: 1em;
    padding: 4px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #242d33;
  }

  .item-label p {
    font-size: .8em;
  }

  .article {
    width: 100%;
    margin: 0 auto;
  }

}

@media screen and (max-width: 350px) {
  .horiz-item img {
    margin-top: 20%;
  }
  .portfolio-item {
    background-color: #fffdfa;
  }
  .item-info a:last-child {
    display: none;
  }
}


/* Fix nav display bug that occurs when resizing browser window*/
@media screen and (min-width: 581px) {
  .navlinks li {
    display: inline;
  }
}

/* Limit grid sizing on extra large screens */
@media screen and (min-width: 1300px) {
  .container {
    max-width: 1333px;
  }
}
